# Database
DB_HOST=localhost
DB_NAME=ppshop-js
DB_USER=root
DB_PASS=

# PPShop API
PPSHOP_TOKEN=replace_me
PPSHOP_X_ENCRYPTED=replace_me
PPSHOP_ORIGIN=https://admin.ppshope.com
PPSHOP_REFERER=https://admin.ppshope.com/
PPSHOP_TIMEOUT=60

# Facebook Webhook
FB_PAGE_ACCESS_TOKEN=replace_me
FB_VERIFY_TOKEN=my_secret_password
